# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
trigger: none

pool:
  name: Default
steps:
  # Step 1 - Install Databricks CLI
  - script: |
       winget install Databricks.DatabricksCLI -e --silent
    displayName: 'Install Databricks CLI'
  - script: |
      databricks bundle validate --target Test --profile QAspn-authentication
    displayName: 'Validate Bundle'
    workingDirectory: $(Build.SourcesDirectory)/superstore/DABDemo
  - script: |
      databricks bundle deploy --target Test --profile QAspn-authentication
    displayName: 'Deploy Bundle to Test'
    workingDirectory: $(Build.SourcesDirectory)/superstore/DABDemo
